{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Admin Dashboard</h2>
        <hr />
        <h4>User Purchases</h4>
        {% if template_data.users %}
        <table class="table table-bordered table-striped text-center mt-3">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Username</th>
              <th scope="col">Movies Purchased</th>
            </tr>
          </thead>
          <tbody>
            {% for u in template_data.users %}
            <tr{% if forloop.first %} class="table-success"{% endif %}>
              <td>{{ forloop.counter }}</td>
              <td>{{ u.username }}</td>
              <td>{{ u.total_movies }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-muted mt-3">No purchases have been made yet.</p>
        {% endif %}

        <h4>Movie Stats</h4>


        <h5 class="mt-3">Most Purchased Movie</h5>
                {% if template_data.most_purchased %}
        <table class="table table-bordered table-striped text-center mt-3">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Movie Name</th>
              <th scope="col">Times Purchased</th>
            </tr>
          </thead>
          <tbody>
            {% for u in template_data.most_purchased %}
            <tr{% if forloop.first %} class="table-success"{% endif %}>
              <td>{{ forloop.counter }}</td>
              <td>{{ u.name}}</td>
              <td>{{ u.total_purchased}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-muted mt-3">No purchases have been made yet.</p>
        {% endif %}


            <h5 class="mt-3">Most Reviewed Movie</h5>
                {% if template_data.most_reviewed %}
        <table class="table table-bordered table-striped text-center mt-3">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Movie Name</th>
              <th scope="col">Times Reviewed</th>
            </tr>
          </thead>
          <tbody>
            {% for u in template_data.most_reviewed %}
            <tr{% if forloop.first %} class="table-success"{% endif %}>
              <td>{{ forloop.counter }}</td>
              <td>{{ u.name}}</td>
              <td>{{ u.total_reviews}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-muted mt-3">No purchases have been made yet.</p>
        {% endif %}
        

      </div>
    </div>
  </div>
</div>
{% endblock content %}
